<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.snamiki1212.previewEmptyImg</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>853EEDD5-CDFA-483D-B6F5-311D63433EC9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A58A2238-B7FC-45E3-B4AD-F7E0F6083B86</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A58A2238-B7FC-45E3-B4AD-F7E0F6083B86</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B7241F71-DFE4-41B2-BFFD-94062A2D4DE1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Shun Namiki</string>
	<key>description</key>
	<string>Create Image on CLI</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Preview Img Preview</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>php index.php | xargs open</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B7241F71-DFE4-41B2-BFFD-94062A2D4DE1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>preview</string>
				<key>subtext</key>
				<string>PreviewImg</string>
				<key>text</key>
				<string>preview &lt;$width&gt; &lt;$height&gt; &lt;$dir&gt;</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>853EEDD5-CDFA-483D-B6F5-311D63433EC9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query} {width} {height} {dir}</string>
				<key>variables</key>
				<dict>
					<key>dir</key>
					<string>{dir}</string>
					<key>height</key>
					<string>{height}</string>
					<key>width</key>
					<string>{width}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A58A2238-B7FC-45E3-B4AD-F7E0F6083B86</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>853EEDD5-CDFA-483D-B6F5-311D63433EC9</key>
		<dict>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>A58A2238-B7FC-45E3-B4AD-F7E0F6083B86</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>B7241F71-DFE4-41B2-BFFD-94062A2D4DE1</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/snamiki1212/alfred-preview-empty-img</string>
</dict>
</plist>
